{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BookWorm</title>
    {% block styles %}
    <link rel="stylesheet" href="style.css">
    {% endblock %}

</head>

<body>
{% include 'structure/navbar.html' %}
{% block content %}
{% endblock %}
{% include 'structure/footer.html' %}
</body>
</html>